:root {
  --theme: rgb(242, 186, 73);
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(241, 241, 241); */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
}

.login-home-image {
  height: 300px;
}

.login-content {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  line-height: 24px;
}

.home-content {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.login-button {
  background-color: var(--theme) !important;
  color: black;
  /* box-shadow: 0px 4px 12px var(--theme); */
  box-shadow: var(--theme) 0px 20px 30px -10px;
  width: 70%;
  border-radius: 12px;
  padding: 8px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 96%;
}

.page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 60px;
  text-align: center;
  border-radius: 36px;
  background-color: rgb(236, 243, 255);
}

.page-button p {
  font-weight: 900;
}
