@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
   padding: 0;
   margin: 0;
}
.Header{
   font-weight: 800;
   box-shadow: none;
}
.Links{
   color: grey;
   font-weight: 700;
   font-family: 'Nunito','sans-serif';
   transition: color ease-in-out 0.1s;
   text-transform: none;
   font-size: 1rem;
   letter-spacing: 0.8px;
}
.links{
   font-family: 'Nunito','sans-serif';
   color: grey;
   font-weight: 600;
   transition: all ease-in-out 0.1s;
   text-transform: none;
   font-size: 1rem;
   letter-spacing: 0.8px;
}
.links:hover{
   padding-left: 4px;
}
.Links:hover{
   color: black;
}