@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
   padding: 0;
   margin: 0;
}
.Header{
   font-weight: 900;
   box-shadow: none;
}
.Links{
   color: #013289;
   font-weight: 900;
   font-family: 'Nunito','sans-serif';
   transition: color ease-in-out 0.1s;
   text-transform: none;
   font-size: 1rem;
   letter-spacing: 0.8px;
}
.Links:hover{
   color: #4154F1;
   background-color: white;
}